:host {
      
  
  $grid-breakpoints: (
      xs: 0,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1200px,
      xxl: 1400px
    );

    .txtField {
      border-color:#B3C8CF;
      align-self: center;
      font-size: 14pt;
      font-style: italic;
      color: #B3C8CF;
      width: 90%;
      margin-top: 2%;
  }

    @media screen and (max-width: 1080px) {
      
      .objectHolder{
        flex-direction: row;
      };
      .smallInputField {
        width: 80%;
    }

    button.Huge {
      width: 20%;
      margin-top: 3%;
    }
    .textSimple {
      font-size: 14pt;
    }
   }

     @media screen and (min-width: 1081px) {
     
      .smallInputField {
        width: 50%;
    }

      button.Huge {
        width: 100%;
        margin-top: 3%;
    }

    .textSimple {
      font-size: 12pt;
    }
  } 

  .textSimple {
    color: #655421;
    float: left;
}
    .block {
        padding-bottom: 5%;
        margin: 4%;
        border-radius: .2em;
        background-color: #ece5bb;
    }
    .objectHolder {
      display: flex; /* or inline-flex */
      //flex-direction: row;
      justify-content: space-around;
      margin-top: 1%;
      margin-left: 5%;
      margin-right: 5%;
      flex-wrap: wrap;
  }

    button.filled{
        flex-grow: 1;
        font-size: 12pt;
        color: #F1EEDC;
        background-color: #B3C8CF;
        border: none;
        padding: 5%;
        border-radius: .4em;
        justify-content: space-between;
        margin: 1%;
    }

   

    button.Clear {
        background-color: #D37676;
    }

    button:hover{
        background-color: #59B4C3;
        transition: 0.3s;
    }

    button.Clear:hover{
        background-color: #E72929;
        transition: 0.3s;
    }

    button:active {
        background-color: #51829B;
    }

    button.Clear:active {
        background-color: #8B322C;
    }

    button:disabled{
      background-color: #d8e3e7;
    }


    .icons {
        padding-right: 8px;
    }


    //Slider 
   
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #59B4C3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #59B4C3
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(32px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}