<input type="text" class="txtField" value="Project Name">
<div class="block">
    <div class="objectHolder"><p class="textSimple">Canvas size</p></div>
<div class="objectHolder">
    <p class="textSimple">Width</p>
    <input type="number" min="1" max="1000" class="txtField smallInputField" value="1">
    <p class="textSimple">Heigh</p>
    <input type="number" min="1" max="1000" class="txtField smallInputField" value="1">
</div>
</div>

<div class="objectHolder">
    <p class="textSimple">Auto Cross Placement</p>
    <label class="switch ">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
<div class="objectHolder">
    <button class="filled" (click)="zoomChange(+1)"><i class="fa-solid fa-magnifying-glass-plus icons"></i>Zoom In</button>
    <button class="filled" (click)="zoomChange(-1)"><i class="fa-solid fa-magnifying-glass-minus icons"></i>Zoom Out</button>
</div>
<div class="objectHolder">
    <button class="filled"><i class="fa-solid fa-copy icons"></i>Copy</button>
    <button class="filled"><i class="fa-solid fa-paste icons"></i>Paste</button>
    <button class="filled"><i class="fa-solid fa-scissors icons"></i>Cut</button>
</div>
<div class="objectHolder">
    <button class="filled Huge Clear" (click)="clearField()"><i class="fa-solid fa-broom icons"></i>Clear field</button>
    <button class="filled Huge"><i class="fa-solid fa-floppy-disk icons"></i>Save</button>
</div>