:host {
      
  
  $grid-breakpoints: (
      xs: 0,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1200px,
      xxl: 1400px
    );

    input{
      align-self: center;
    }
    .txtField {
      border-color:#B3C8CF;
      align-self: center;
      font-size: 14pt;
      font-style: italic;
      color: #B3C8CF;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 90%;
  }

  .smallInputField{
    margin-top: 5%;
    margin-bottom: 5%;
  }


    @media screen and (max-width: 960px) {
      
      .objectHolder{
        flex-direction: row;
        
      justify-content: space-between;
      };
      .smallInputField {
        width: 50%;
    }
    .txtField{
      margin-top: 2%;
    }

    button.Huge {
      width: 20%;
      margin-top: 3%;
    }
    .textSimple {
      font-size: 11pt;
    }
    .block {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-top: 2%;
      border-radius: .2em;
      background-color: #ece5bb;
      flex-direction: column;
      width: 48%;
  }
   }

     @media (min-width: 961px) {
     
      .smallInputField {
        width: 50%;
    }

      button.Huge {
        width: 100%;
        //margin-top: 3%;
    }

    .textSimple {
      font-size: 12pt;
    }
    .block {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-top: 2%;
      border-radius: .2em;
      background-color: #ece5bb;
      flex-direction: column;
      width: 100%;
  }
    
  } 

  .textSimple {
    color: #655421;
    float: left;
}
.textBold {
  color: #655421;
  float: left;
  font-weight: bold;
}

   
    .objectHolder {
      display: flex; /* or inline-flex */
      flex-direction: row;
      justify-content: space-between;
      margin-left: 2%;
      margin-right: 2%;
  }

  .objectRowHolder {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

    button.filled{
        flex-grow: 1;
        font-size: 12pt;
        color: #F1EEDC;
        background-color: #B3C8CF;
        border: none;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: .4em;
        margin: 1%;
    }

   

    button.Clear {
        background-color: #D37676;
    }

    button:hover{
        background-color: #59B4C3;
        transition: 0.3s;
    }

    button.Clear:hover{
        background-color: #E72929;
        transition: 0.3s;
    }

    button:active {
        background-color: #51829B;
    }

    button.Clear:active {
        background-color: #8B322C;
    }

    button:disabled{
      background-color: #d8e3e7;
    }


    .icons {
        padding-right: 8px;
    }

    p {
      margin-top:  5%;
      margin-bottom: 5%;
      align-self: center;
    }

    //Slider 
   
    .switch {
        position: relative;
        display: inline-block;
        align-self: center;
        width: 40px ;
        height: 20px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 12px ;
        width: 12px ;
        left: 4px ;
        bottom: 4px ;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #59B4C3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #59B4C3
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(26px  2);
        transform: translateX(16px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px ;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}