:host {
    app-grid {
        float: right;
        width: 82%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }
    
    app-menu {
        width: 18%;
        padding-top: 2%;
        padding-bottom: 100%;
        position: relative;
        float: left;
        display: flex; 
        flex-direction: column;
        background-color: #F1EEDC;
    }
}